# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# App Logic & Local Data Part_library.json
.env
.streamlit/secrets.toml

# CAD Outputs
*.dxf
*.dwg

# OS Files
.DS_Store
Thumbs.db

#IDEs
.vscode/
.idea/
